<div class="container">
  <mat-card class="card-properties card-5">
      <form class="login-form">
        <div class="container" style="text-align: center">
          <h3>Login</h3>
          &nbsp;
        </div>

        <mat-divider></mat-divider>

        &nbsp;

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="password" matInput placeholder="Password">
        </mat-form-field>

        &nbsp;

        <button mat-raised-button color="primary" class="button-properties" (click)="login()">Login</button>

        &nbsp;

        <!-- <my-component></my-component> -->
        <!-- <app-switcher username="philip.brown@didata.com.au" company="6acf87b7dbdf6f884964774b8c9619f2"></app-switcher> -->
      </form>
  </mat-card>
</div>
