<mat-card class="card-properties card-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cost Description</th>
        <th>Amount</th>
        <th>Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of BudjetList.data">
        <td (click)="upadetItem(item)">{{ item.item }}</td>
        <td (click)="upadetItem(item)">R {{ item.amount }}</td>
        <td>
            <mat-slide-toggle class="margin" [color]="color" [checked]="item.payment" [disabled]="disabled" (click)="payedUpdate(item)"></mat-slide-toggle>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-divider></mat-divider>

  &nbsp;

  <div class="row">
    <div class="col-sm-4">
        <table class>
          <tbody>
            <tr>
              <td><h6>Paid</h6></td>
              <td><p>R {{ countPaid }}</p></td>
            </tr>

            <tr>
              <td><h6>Unpaid</h6></td>
              <td><p>R {{ countUnpaid }}</p></td>
            </tr>

            <tr>
              <td><h6></h6></td>
              <td><p></p></td>
            </tr>

            <tr>
              <td><h6>Sub-Total</h6></td>
              <td><p>R {{ count }}</p></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="col-sm-2">
      <button mat-fab color="accent" class="fab-button" (click)="addBillItem()">{{ add }}</button>
  </div>
</mat-card>
