<h1 mat-dialog-title>Set Goal Items</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Goal" [(ngModel)] = "data.goal">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Amount" [(ngModel)]="data.amount">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Add Goal</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial></button>
</div>
