<div class="row container">
  <!-- <div class="side-nav">
    <p style="color: black">The Side Navigation</p>
  </div> -->

  <div class="row-properties" *ngFor="let dashboard of dashboards; let i = index">
    <mat-card class="card-properties card-5" (click)="goalItem(dashboard.path)">
      <mat-card-title>
        <h3>{{dashboard.name}}</h3>
      </mat-card-title>

      <mat-card-content>
        <p>{{dashboard.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div class="row-properties" *ngFor="let dashboard of dashboards; let i = index">
    <mat-card class="card-properties card-5" (click)="goalItem(dashboard.path)">
      <mat-card-title>
        <h3>{{dashboard.name}}</h3>
      </mat-card-title>

      <mat-card-content>
        <p>{{dashboard.description}}</p>
      </mat-card-content>
    </mat-card>
  </div> -->

</div>

