<div class="row" style="margin: auto;">
  <div class="col-sm-12" style="background-color: white; min-height: 70px;">

  </div>

  <div class="col-sm-4 col-properties" *ngFor="let dashboard of dashboards">
      <mat-card class="card-properties card-5" (click)="route(dashboard.path)">
          <mat-card-title>
            <h3>{{dashboard.name}}</h3>
          </mat-card-title>

          <mat-card-content>
            <p>{{dashboard.description}}</p>
          </mat-card-content>
        </mat-card>
  </div>
</div>
