.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

/* .card-properties {
  margin: auto;
  min-height: 525px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
} */

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.button-properties {
  width: 100%;
}

