<div class="container">
  <mat-card class="card-properties card-5">
      <form class="login-form">
        <div class="container" style="text-align: center">
          <h3>Register</h3>
          &nbsp;
        </div>

        <mat-divider></mat-divider>

        &nbsp;

        <mat-form-field class="login-full-width">
          <input type="text" matInput placeholder="Name" [(ngModel)]="data.name" name="name">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="text" matInput placeholder="Surname" [(ngModel)]="data.surname" name="surname">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="email" matInput placeholder="Email" [(ngModel)]="data.email" name="email">
        </mat-form-field>

        <mat-form-field class="login-full-width">
            <input type="text" matInput placeholder="Username" [(ngModel)]="data.username" name="username">
          </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="password" matInput placeholder="Password" [(ngModel)]="data.password" name="password">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="password" matInput placeholder="Re-Type Password" [(ngModel)]="data.retype" name="retype">
        </mat-form-field>

        &nbsp;

        <button mat-raised-button color="primary" (click)="register()" class="button-properties">Register</button>

      </form>
  </mat-card>
</div>
